SECRET_KEY="your-django-secret-key"
DEBUG=True

SITE_URL=http://localhost:8000

MINIO_ROOT_USER=user
MINIO_ROOT_PASSWORD=password
MINIO_PUBLIC_BUCKET=bucket-public
MINIO_PRIVATE_BUCKET=bucket-private
MINIO_APP_USER=user-app
MINIO_APP_PASSWORD=passwordMinIO
MINIO_ENDPOINT=http://localhost:9000/
MINIO_REGION=us-east-1

POSTGRES_DB=psql_db
POSTGRES_USER=psql_user
POSTGRES_PASSWORD=password_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

REDIS_URL=redis://127.0.0.1:6379/0
REDIS_CACHE_URL=redis://127.0.0.1:6379/1

CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/0
CELERY_TIMEZONE=Asia/Tashkent

